<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlht.impl.mapper.StdhospitalofficeMapper">
    <resultMap id="BaseResultMap" type="com.wlht.api.po.Stdhospitaloffice">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="NUMERIC" property="id"/>
        <result column="CCCODE_" jdbcType="VARCHAR" property="cccode"/>
        <result column="CODE_" jdbcType="VARCHAR" property="code"/>
        <result column="COMMENT_" jdbcType="VARCHAR" property="comment"/>
        <result column="EXISTINGBED_" jdbcType="NUMERIC" property="existingbed"/>
        <result column="FLAG_" jdbcType="NUMERIC" property="flag"/>
        <result column="FORMATIONBED_" jdbcType="NUMERIC" property="formationbed"/>
        <result column="INDEXCODE_" jdbcType="VARCHAR" property="indexcode"/>
        <result column="ISLEAF_" jdbcType="NUMERIC" property="isleaf"/>
        <result column="LEVEL_" jdbcType="NUMERIC" property="level"/>
        <result column="NAME_" jdbcType="VARCHAR" property="name"/>
        <result column="NAMEEN_" jdbcType="VARCHAR" property="nameen"/>
        <result column="NAMES_" jdbcType="VARCHAR" property="names"/>
        <result column="NAMESEN_" jdbcType="VARCHAR" property="namesen"/>
        <result column="ORGCODE_" jdbcType="VARCHAR" property="orgcode"/>
        <result column="PARENT_" jdbcType="VARCHAR" property="parent"/>
        <result column="PARENTID_" jdbcType="NUMERIC" property="parentid"/>
        <result column="SEQNO_" jdbcType="VARCHAR" property="seqno"/>
        <result column="SUBORGCODE_" jdbcType="VARCHAR" property="suborgcode"/>
        <result column="INTRO_" jdbcType="VARCHAR" property="intro"/>
        <result column="OFFICETYPE_" jdbcType="VARCHAR" property="officetype"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        ID, CCCODE_, CODE_, COMMENT_, EXISTINGBED_, FLAG_, FORMATIONBED_, INDEXCODE_, ISLEAF_,
        LEVEL_, NAME_, NAMEEN_, NAMES_, NAMESEN_, ORGCODE_, PARENT_, PARENTID_, SEQNO_, SUBORGCODE_,
        INTRO_, OFFICETYPE_
    </sql>
    <select id="getKeshiCodeByName" resultType="string">
        SELECT CODE_
        FROM STDHOSPITALOFFICE_
        WHERE NAME_ LIKE #{name} || '%'
    </select>
    <select id="getAllHospitalOffice" parameterType="com.wlht.api.vo.SearForKs"
            resultType="com.wlht.api.vo.HospitalOfficeVo">
        select office.code_ as KeshiBM,office.name_ as mingcheng,office.cccode_ as biaozhunLiShu,guojiabiaozhun.name_ as
        biaozhunLiShuName,kstype.name_ as ksType,office.EXISTINGBED_ as chuangweiShu,office.indexcode_ as shouzimuIndex
        from STDHOSPITALOFFICE_ office,STDCONSULTATIONSUBJECT_ guojiabiaozhun,STDOFFICETYPE_ kstype where
        office.cccode_=guojiabiaozhun.code_(+) and office.officetype_=kstype.code_(+) and orgcode_=#{yyIdentity,jdbcType=VARCHAR}
        <if test="ksName!=null and ksName!=''">
            and office.name_ like #{ksName,jdbcType=VARCHAR}||'%'
        </if>
        <if test="ksType!=null and ksType!=''">
            and office.officetype_ = #{ksType,jdbcType=VARCHAR}
        </if>
        order by office.id desc
    </select>
    <select id="checkKSName" parameterType="com.wlht.api.vo.HospitalOfficeVo" resultType="decimal">
               select id from STDHOSPITALOFFICE_ where orgcode_=#{yyidentity,jdbcType=VARCHAR} and name_=#{mingcheng}
    </select>
    <select id="checkKSCode" parameterType="com.wlht.api.vo.HospitalOfficeVo" resultType="decimal">
        select id from STDHOSPITALOFFICE_ where orgcode_=#{yyidentity,jdbcType=VARCHAR} and code_=#{KeshiBM}
    </select>
    <insert id="saveKSXXInfo" parameterType="com.wlht.api.vo.HospitalOfficeVo">
        insert into Stdhospitaloffice_(ID,CCCODE_,CODE_,INDEXCODE_,NAME_,ORGCODE_,OFFICETYPE_) values(SEQ_T_BNGMYW.NEXTVAL,#{biaozhunLiShu,jdbcType=VARCHAR},#{KeshiBM,jdbcType=VARCHAR},#{pinyin,jdbcType=VARCHAR},#{mingcheng,jdbcType=VARCHAR},#{yyidentity,jdbcType=VARCHAR},#{ksType,jdbcType=VARCHAR})
    </insert>
    <select id="searchKSINFO" parameterType="com.wlht.api.vo.FbaiduParam" resultType="com.wlht.api.vo.ZiDianBaseVo">
        select  CODE_ as code,NAME_ as name from STDHOSPITALOFFICE_
        <where>
            <if test="searchType==1">
                CODE_ like #{searVal,jdbcType=VARCHAR}||'%'
            </if>
            <if test="searchType==2">
                INDEXCODE_ like upper(#{searVal,jdbcType=VARCHAR})||'%'
            </if>
            <if test="searchType==3">
                NAME_ like #{searVal,jdbcType=VARCHAR}||'%'
            </if>
        </where>
    </select>
    <update id="updateKSXXInfo" parameterType="com.wlht.api.vo.HospitalOfficeVo">
         update STDHOSPITALOFFICE_ set NAME_=#{mingcheng,jdbcType=VARCHAR},INDEXCODE_=#{pinyin,jdbcType=VARCHAR},OFFICETYPE_=#{ksType,jdbcType=VARCHAR}
        where CODE_=#{keshiBM,jdbcType=VARCHAR} and ORGCODE_=#{yyidentity,jdbcType=VARCHAR}
    </update>
</mapper>