<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlht.impl.mapper.TBnzyfyMapper">
  <resultMap id="BaseResultMap" type="com.wlht.api.po.TBnzyfy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="ZBLSH" jdbcType="NUMERIC" property="zblsh" />
    <result column="ZYIDENTITY" jdbcType="VARCHAR" property="zyidentity" />
    <result column="ZZJGDM" jdbcType="VARCHAR" property="zzjgdm" />
    <result column="ZZJGNAME" jdbcType="VARCHAR" property="zzjgname" />
    <result column="FZJGBSF" jdbcType="VARCHAR" property="fzjgbsf" />
    <result column="BAH" jdbcType="VARCHAR" property="bah" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FYLB" jdbcType="VARCHAR" property="fylb" />
    <result column="JINE" jdbcType="NUMERIC" property="jine" />
  </resultMap>
</mapper>