<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remote.impl.mapper.HisviewMapper">
  <resultMap id="BaseResultMap" type="com.remote.api.po.Hisview">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="JGID" jdbcType="VARCHAR" property="jgid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="YLFKFS" jdbcType="VARCHAR" property="ylfkfs" />
    <result column="JKKH" jdbcType="VARCHAR" property="jkkh" />
    <result column="ZYCS" jdbcType="VARCHAR" property="zycs" />
    <result column="BAH" jdbcType="VARCHAR" property="bah" />
    <result column="XM" jdbcType="VARCHAR" property="xm" />
    <result column="XB" jdbcType="VARCHAR" property="xb" />
    <result column="CSRQ" jdbcType="VARCHAR" property="csrq" />
    <result column="NL" jdbcType="NUMERIC" property="nl" />
    <result column="GJ" jdbcType="VARCHAR" property="gj" />
    <result column="BAYZSNL" jdbcType="NUMERIC" property="bayzsnl" />
    <result column="XSECSTZ" jdbcType="NUMERIC" property="xsecstz" />
    <result column="XSERYTZ" jdbcType="NUMERIC" property="xserytz" />
    <result column="CSD" jdbcType="VARCHAR" property="csd" />
    <result column="GG" jdbcType="VARCHAR" property="gg" />
    <result column="MZ" jdbcType="VARCHAR" property="mz" />
    <result column="SFZH" jdbcType="VARCHAR" property="sfzh" />
    <result column="ZY" jdbcType="VARCHAR" property="zy" />
    <result column="HY" jdbcType="VARCHAR" property="hy" />
    <result column="XZZ" jdbcType="VARCHAR" property="xzz" />
    <result column="DH" jdbcType="VARCHAR" property="dh" />
    <result column="YB1" jdbcType="VARCHAR" property="yb1" />
    <result column="HKDZ" jdbcType="VARCHAR" property="hkdz" />
    <result column="YB2" jdbcType="VARCHAR" property="yb2" />
    <result column="GZDWJDZ" jdbcType="VARCHAR" property="gzdwjdz" />
    <result column="DWDH" jdbcType="VARCHAR" property="dwdh" />
    <result column="YB3" jdbcType="VARCHAR" property="yb3" />
    <result column="LXRXM" jdbcType="VARCHAR" property="lxrxm" />
    <result column="GX" jdbcType="VARCHAR" property="gx" />
    <result column="DZ" jdbcType="VARCHAR" property="dz" />
    <result column="DH2" jdbcType="VARCHAR" property="dh2" />
    <result column="RYTJ" jdbcType="VARCHAR" property="rytj" />
    <result column="RYSJ" jdbcType="TIMESTAMP" property="rysj" />
    <result column="RYSJS" jdbcType="NUMERIC" property="rysjs" />
    <result column="RYKB" jdbcType="VARCHAR" property="rykb" />
    <result column="RYBF" jdbcType="VARCHAR" property="rybf" />
    <result column="ZKKB" jdbcType="VARCHAR" property="zkkb" />
    <result column="CYSJ" jdbcType="TIMESTAMP" property="cysj" />
    <result column="CYSJS" jdbcType="NUMERIC" property="cysjs" />
    <result column="CYKB" jdbcType="VARCHAR" property="cykb" />
    <result column="CYBF" jdbcType="VARCHAR" property="cybf" />
    <result column="SJZYTS" jdbcType="VARCHAR" property="sjzyts" />
    <result column="MZZD" jdbcType="VARCHAR" property="mzzd" />
    <result column="JBBM" jdbcType="VARCHAR" property="jbbm" />
    <result column="ZYZD" jdbcType="VARCHAR" property="zyzd" />
    <result column="JBDM" jdbcType="VARCHAR" property="jbdm" />
    <result column="RYBQ" jdbcType="VARCHAR" property="rybq" />
    <result column="QTZD1" jdbcType="VARCHAR" property="qtzd1" />
    <result column="JBDM1" jdbcType="VARCHAR" property="jbdm1" />
    <result column="RYBQ1" jdbcType="VARCHAR" property="rybq1" />
    <result column="QTZD2" jdbcType="VARCHAR" property="qtzd2" />
    <result column="JBDM2" jdbcType="VARCHAR" property="jbdm2" />
    <result column="RYBQ2" jdbcType="VARCHAR" property="rybq2" />
    <result column="QTZD3" jdbcType="VARCHAR" property="qtzd3" />
    <result column="JBDM3" jdbcType="VARCHAR" property="jbdm3" />
    <result column="RYBQ3" jdbcType="VARCHAR" property="rybq3" />
    <result column="QTZD4" jdbcType="VARCHAR" property="qtzd4" />
    <result column="JBDM4" jdbcType="VARCHAR" property="jbdm4" />
    <result column="RYBQ4" jdbcType="VARCHAR" property="rybq4" />
    <result column="QTZD5" jdbcType="VARCHAR" property="qtzd5" />
    <result column="JBDM5" jdbcType="VARCHAR" property="jbdm5" />
    <result column="RYBQ5" jdbcType="VARCHAR" property="rybq5" />
    <result column="QTZD6" jdbcType="VARCHAR" property="qtzd6" />
    <result column="JBDM6" jdbcType="VARCHAR" property="jbdm6" />
    <result column="RYBQ6" jdbcType="VARCHAR" property="rybq6" />
    <result column="QTZD7" jdbcType="VARCHAR" property="qtzd7" />
    <result column="JBDM7" jdbcType="VARCHAR" property="jbdm7" />
    <result column="RYBQ7" jdbcType="VARCHAR" property="rybq7" />
    <result column="QTZD8" jdbcType="VARCHAR" property="qtzd8" />
    <result column="JBDM8" jdbcType="VARCHAR" property="jbdm8" />
    <result column="RYBQ8" jdbcType="VARCHAR" property="rybq8" />
    <result column="QTZD9" jdbcType="VARCHAR" property="qtzd9" />
    <result column="JBDM9" jdbcType="VARCHAR" property="jbdm9" />
    <result column="RYBQ9" jdbcType="VARCHAR" property="rybq9" />
    <result column="QTZD10" jdbcType="VARCHAR" property="qtzd10" />
    <result column="JBDM10" jdbcType="VARCHAR" property="jbdm10" />
    <result column="RYBQ10" jdbcType="VARCHAR" property="rybq10" />
    <result column="QTZD11" jdbcType="VARCHAR" property="qtzd11" />
    <result column="JBDM11" jdbcType="VARCHAR" property="jbdm11" />
    <result column="RYBQ11" jdbcType="VARCHAR" property="rybq11" />
    <result column="QTZD12" jdbcType="VARCHAR" property="qtzd12" />
    <result column="JBDM12" jdbcType="VARCHAR" property="jbdm12" />
    <result column="RYBQ12" jdbcType="VARCHAR" property="rybq12" />
    <result column="QTZD13" jdbcType="VARCHAR" property="qtzd13" />
    <result column="JBDM13" jdbcType="VARCHAR" property="jbdm13" />
    <result column="RYBQ13" jdbcType="VARCHAR" property="rybq13" />
    <result column="QTZD14" jdbcType="VARCHAR" property="qtzd14" />
    <result column="JBDM14" jdbcType="VARCHAR" property="jbdm14" />
    <result column="RYBQ14" jdbcType="VARCHAR" property="rybq14" />
    <result column="QTZD15" jdbcType="VARCHAR" property="qtzd15" />
    <result column="JBDM15" jdbcType="VARCHAR" property="jbdm15" />
    <result column="RYBQ15" jdbcType="VARCHAR" property="rybq15" />
    <result column="WBYY" jdbcType="VARCHAR" property="wbyy" />
    <result column="H23" jdbcType="VARCHAR" property="h23" />
    <result column="BLZD" jdbcType="VARCHAR" property="blzd" />
    <result column="JBMM" jdbcType="VARCHAR" property="jbmm" />
    <result column="BLH" jdbcType="VARCHAR" property="blh" />
    <result column="YWGM" jdbcType="VARCHAR" property="ywgm" />
    <result column="GMYW" jdbcType="VARCHAR" property="gmyw" />
    <result column="SWHZSJ" jdbcType="VARCHAR" property="swhzsj" />
    <result column="XX" jdbcType="VARCHAR" property="xx" />
    <result column="RH" jdbcType="VARCHAR" property="rh" />
    <result column="KZR" jdbcType="VARCHAR" property="kzr" />
    <result column="ZRYS" jdbcType="VARCHAR" property="zrys" />
    <result column="ZZYS" jdbcType="VARCHAR" property="zzys" />
    <result column="ZYYS" jdbcType="VARCHAR" property="zyys" />
    <result column="ZRHS" jdbcType="VARCHAR" property="zrhs" />
    <result column="JXYS" jdbcType="VARCHAR" property="jxys" />
    <result column="SXYS" jdbcType="VARCHAR" property="sxys" />
    <result column="BMY" jdbcType="VARCHAR" property="bmy" />
    <result column="BAZL" jdbcType="VARCHAR" property="bazl" />
    <result column="ZKYS" jdbcType="VARCHAR" property="zkys" />
    <result column="ZKHS" jdbcType="VARCHAR" property="zkhs" />
    <result column="ZKRQ" jdbcType="VARCHAR" property="zkrq" />
    <result column="SSJCZBM1" jdbcType="VARCHAR" property="ssjczbm1" />
    <result column="SSJCZRQ1" jdbcType="VARCHAR" property="ssjczrq1" />
    <result column="SSJB1" jdbcType="VARCHAR" property="ssjb1" />
    <result column="SSJCZMC1" jdbcType="VARCHAR" property="ssjczmc1" />
    <result column="SZ1" jdbcType="VARCHAR" property="sz1" />
    <result column="YZ1" jdbcType="VARCHAR" property="yz1" />
    <result column="EZ1" jdbcType="VARCHAR" property="ez1" />
    <result column="QKDJ1" jdbcType="VARCHAR" property="qkdj1" />
    <result column="QKYHLB1" jdbcType="VARCHAR" property="qkyhlb1" />
    <result column="MZFS1" jdbcType="VARCHAR" property="mzfs1" />
    <result column="MZYS1" jdbcType="VARCHAR" property="mzys1" />
    <result column="SSJCZBM2" jdbcType="VARCHAR" property="ssjczbm2" />
    <result column="SSJCZRQ2" jdbcType="VARCHAR" property="ssjczrq2" />
    <result column="SSJB2" jdbcType="VARCHAR" property="ssjb2" />
    <result column="SSJCZMC2" jdbcType="VARCHAR" property="ssjczmc2" />
    <result column="SZ2" jdbcType="VARCHAR" property="sz2" />
    <result column="YZ2" jdbcType="VARCHAR" property="yz2" />
    <result column="EZ2" jdbcType="VARCHAR" property="ez2" />
    <result column="QKDJ2" jdbcType="VARCHAR" property="qkdj2" />
    <result column="QKYHLB2" jdbcType="VARCHAR" property="qkyhlb2" />
    <result column="MZFS2" jdbcType="VARCHAR" property="mzfs2" />
    <result column="MZYS2" jdbcType="VARCHAR" property="mzys2" />
    <result column="SSJCZBM3" jdbcType="VARCHAR" property="ssjczbm3" />
    <result column="SSJCZRQ3" jdbcType="VARCHAR" property="ssjczrq3" />
    <result column="SSJB3" jdbcType="VARCHAR" property="ssjb3" />
    <result column="SSJCZMC3" jdbcType="VARCHAR" property="ssjczmc3" />
    <result column="SZ3" jdbcType="VARCHAR" property="sz3" />
    <result column="YZ3" jdbcType="VARCHAR" property="yz3" />
    <result column="EZ3" jdbcType="VARCHAR" property="ez3" />
    <result column="QKDJ3" jdbcType="VARCHAR" property="qkdj3" />
    <result column="QKYHLB3" jdbcType="VARCHAR" property="qkyhlb3" />
    <result column="MZFS3" jdbcType="VARCHAR" property="mzfs3" />
    <result column="MZYS3" jdbcType="VARCHAR" property="mzys3" />
    <result column="SSJCZBM4" jdbcType="VARCHAR" property="ssjczbm4" />
    <result column="SSJCZRQ4" jdbcType="VARCHAR" property="ssjczrq4" />
    <result column="SSJB4" jdbcType="VARCHAR" property="ssjb4" />
    <result column="SSJCZMC4" jdbcType="VARCHAR" property="ssjczmc4" />
    <result column="SZ4" jdbcType="VARCHAR" property="sz4" />
    <result column="YZ4" jdbcType="VARCHAR" property="yz4" />
    <result column="EZ4" jdbcType="VARCHAR" property="ez4" />
    <result column="QKDJ4" jdbcType="VARCHAR" property="qkdj4" />
    <result column="QKYHLB4" jdbcType="VARCHAR" property="qkyhlb4" />
    <result column="MZFS4" jdbcType="VARCHAR" property="mzfs4" />
    <result column="MZYS4" jdbcType="VARCHAR" property="mzys4" />
    <result column="SSJCZBM5" jdbcType="VARCHAR" property="ssjczbm5" />
    <result column="SSJCZRQ5" jdbcType="VARCHAR" property="ssjczrq5" />
    <result column="SSJB5" jdbcType="VARCHAR" property="ssjb5" />
    <result column="SSJCZMC5" jdbcType="VARCHAR" property="ssjczmc5" />
    <result column="SZ5" jdbcType="VARCHAR" property="sz5" />
    <result column="YZ5" jdbcType="VARCHAR" property="yz5" />
    <result column="EZ5" jdbcType="VARCHAR" property="ez5" />
    <result column="QKDJ5" jdbcType="VARCHAR" property="qkdj5" />
    <result column="QKYHLB5" jdbcType="VARCHAR" property="qkyhlb5" />
    <result column="MZFS5" jdbcType="VARCHAR" property="mzfs5" />
    <result column="MZYS5" jdbcType="VARCHAR" property="mzys5" />
    <result column="SSJCZBM6" jdbcType="VARCHAR" property="ssjczbm6" />
    <result column="SSJCZRQ6" jdbcType="VARCHAR" property="ssjczrq6" />
    <result column="SSJB6" jdbcType="VARCHAR" property="ssjb6" />
    <result column="SSJCZMC6" jdbcType="VARCHAR" property="ssjczmc6" />
    <result column="SZ6" jdbcType="VARCHAR" property="sz6" />
    <result column="YZ6" jdbcType="VARCHAR" property="yz6" />
    <result column="EZ6" jdbcType="VARCHAR" property="ez6" />
    <result column="QKDJ6" jdbcType="VARCHAR" property="qkdj6" />
    <result column="QKYHLB6" jdbcType="VARCHAR" property="qkyhlb6" />
    <result column="MZFS6" jdbcType="VARCHAR" property="mzfs6" />
    <result column="MZYS6" jdbcType="VARCHAR" property="mzys6" />
    <result column="SSJCZBM7" jdbcType="VARCHAR" property="ssjczbm7" />
    <result column="SSJCZRQ7" jdbcType="VARCHAR" property="ssjczrq7" />
    <result column="SSJB7" jdbcType="VARCHAR" property="ssjb7" />
    <result column="SSJCZMC7" jdbcType="VARCHAR" property="ssjczmc7" />
    <result column="SZ7" jdbcType="VARCHAR" property="sz7" />
    <result column="YZ7" jdbcType="VARCHAR" property="yz7" />
    <result column="EZ7" jdbcType="VARCHAR" property="ez7" />
    <result column="QKDJ7" jdbcType="VARCHAR" property="qkdj7" />
    <result column="QKYHLB7" jdbcType="VARCHAR" property="qkyhlb7" />
    <result column="MZFS7" jdbcType="VARCHAR" property="mzfs7" />
    <result column="MZYS7" jdbcType="VARCHAR" property="mzys7" />
    <result column="LYFS" jdbcType="VARCHAR" property="lyfs" />
    <result column="YZZY_YLJG" jdbcType="VARCHAR" property="yzzyYljg" />
    <result column="WSY_YLJG" jdbcType="VARCHAR" property="wsyYljg" />
    <result column="SFZZYJH" jdbcType="VARCHAR" property="sfzzyjh" />
    <result column="MD" jdbcType="VARCHAR" property="md" />
    <result column="RYQ_T" jdbcType="NUMERIC" property="ryqT" />
    <result column="RYQ_XS" jdbcType="NUMERIC" property="ryqXs" />
    <result column="RYQ_F" jdbcType="NUMERIC" property="ryqF" />
    <result column="ZFY" jdbcType="NUMERIC" property="zfy" />
    <result column="ZFJE" jdbcType="NUMERIC" property="zfje" />
    <result column="YLFUF" jdbcType="NUMERIC" property="ylfuf" />
    <result column="ZLCZF" jdbcType="NUMERIC" property="zlczf" />
    <result column="HLF" jdbcType="NUMERIC" property="hlf" />
    <result column="QTFY" jdbcType="NUMERIC" property="qtfy" />
    <result column="BLZDF" jdbcType="NUMERIC" property="blzdf" />
    <result column="SYSZDF" jdbcType="NUMERIC" property="syszdf" />
    <result column="YXXZDF" jdbcType="NUMERIC" property="yxxzdf" />
    <result column="LCZDXMF" jdbcType="NUMERIC" property="lczdxmf" />
    <result column="FSSZLXMF" jdbcType="NUMERIC" property="fsszlxmf" />
    <result column="WLZLF" jdbcType="NUMERIC" property="wlzlf" />
    <result column="SSZLF" jdbcType="NUMERIC" property="sszlf" />
    <result column="MAF" jdbcType="NUMERIC" property="maf" />
    <result column="SSF" jdbcType="NUMERIC" property="ssf" />
    <result column="KFF" jdbcType="NUMERIC" property="kff" />
    <result column="ZYZLF" jdbcType="NUMERIC" property="zyzlf" />
    <result column="XYF" jdbcType="NUMERIC" property="xyf" />
    <result column="KJYWF" jdbcType="NUMERIC" property="kjywf" />
    <result column="ZCYF" jdbcType="NUMERIC" property="zcyf" />
    <result column="ZCYF1" jdbcType="NUMERIC" property="zcyf1" />
    <result column="XF" jdbcType="NUMERIC" property="xf" />
    <result column="BDBLZPF" jdbcType="NUMERIC" property="bdblzpf" />
    <result column="QDBLZPF" jdbcType="NUMERIC" property="qdblzpf" />
    <result column="NXYZLZPF" jdbcType="NUMERIC" property="nxyzlzpf" />
    <result column="XBYZLZPF" jdbcType="NUMERIC" property="xbyzlzpf" />
    <result column="HCYYCLF" jdbcType="NUMERIC" property="hcyyclf" />
    <result column="YYCLF" jdbcType="NUMERIC" property="yyclf" />
    <result column="YCXYYCLF" jdbcType="NUMERIC" property="ycxyyclf" />
    <result column="QTF" jdbcType="NUMERIC" property="qtf" />
    <result column="RYH_T" jdbcType="NUMERIC" property="ryhT" />
    <result column="RYH_XS" jdbcType="NUMERIC" property="ryhXs" />
    <result column="RYH_F" jdbcType="NUMERIC" property="ryhF" />
  </resultMap>
  <select id="selectBADateFromHis" parameterType="com.wlht.api.vo.ImportParam" resultMap="BaseResultMap">
      SELECT * from HISVIEW where CYSJ BETWEEN #{starte} and #{end}
  </select>
</mapper>