@charset "utf-8";
/* CSS Document */
.navbar-inverse{ background:#f1f3f6; border:none !important}
.btn-primary{ background:#0099b9; border:1px solid #00a497}
.txt_td{ line-height:34px;}
td{ text-align:center}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{ background:#0099b9}
.pagination>li>a, .pagination>li>span{ color:#0099b9}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active{ background:#0185a1; border-color:#0185a1; border-radius: 4px}
.nav-tabs{ border-color:#0099b9}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ color:#0099b9;cursor: default;
    background-color: #fff;
    border: 1px solid #0099b9;
    border-bottom-color: transparent;}
